@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: linear-gradient(159deg, rgb(11, 49, 87) 0%, rgba(15,82,186,1) 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

._container{
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}
.toggle-unchecked::before {
  background-color: white !important;
}
/* Firefox */
* {
  scrollbar-width: none; /* Hides scrollbar */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}
.shiny-card {
  position: relative;
  overflow: hidden;
}

.shiny-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-20deg);
}

.shiny-card:hover::before {
  animation: shine 0.75s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@media (max-width: 786px) {
  ._container {
    padding-left: 4%;
    padding-right: 4%;
    margin: auto;
    overflow: hidden;
  }
}
